[submodule "c.vim"]
	path = c.vim
	url = git@github/starmomo/.vim/bundle/c.vim
[submodule "FuzzyFinder"]
	path = FuzzyFinder
	url = git@github/starmomo/.vim/bundle/FuzzyFinder
[submodule "L9"]
	path = L9
	url = git@github/starmomo/.vim/bundle/L9
[submodule "The-NERD-Commenter"]
	path = The-NERD-Commenter
	url = git@github/starmomo/.vim/bundle/The-NERD-Commenter
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = git@github/starmomo/.vim/bundle/ctrlp.vim
[submodule "command-t"]
	path = command-t
	url = git@github/starmomo/.vim/bundle/command-t
[submodule "matchit.zip"]
	path = matchit.zip
	url = git@github/starmomo/.vim/bundle/matchit.zip
[submodule "taglist.vim"]
	path = taglist.vim
	url = git@github/starmomo/.vim/bundle/taglist.vim
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = git@github/starmomo/.vim/bundle/vim-easymotion
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git@github/starmomo/.vim/bundle/vim-fugitive
[submodule "vim-powerline"]
	path = vim-powerline
	url = git@github/starmomo/.vim/bundle/vim-powerline
[submodule "vim-rails"]
	path = vim-rails
	url = git@github/starmomo/.vim/bundle/vim-rails
[submodule "vimwiki"]
	path = vimwiki
	url = git@github/starmomo/.vim/bundle/vimwiki
[submodule "vundle"]
	path = vundle
	url = git@github/starmomo/.vim/bundle/vundle
